body {
	font-family: 'Montserrat', sans-serif;

}
input {
	/* width: 200px; */
	margin: 40px;
	width: 300px;
    border-radius: 10px;
}

.form-control,
.btn {
	margin: 20px auto;
	display: block;
	text-align: center;
}

h2,
.type,
.description {
	text-decoration: bold;
}

h1 {
	color: #00374f;
	font-size: 80px;
	margin: 0 auto;
	display: block;
	text-align: center;
}

h3 {
	font-size: 40px;
    margin: 0 auto;
	display: block;
}

.card {
	background: #BDBDBD;
	height: 300px;
	width: 400px;
	margin: 0 auto;
    display: block;
	padding: 20px 80px;
	text-align: left;
	color: white;
	border-color: #FA5858;
	border-style: solid;
	border-width: 10px;
	border-radius: 18px;
}

.card2 {
	/* background: #BDBDBD; */
	/* width: 400px; */
	margin: 0 auto;
    display: block;
	padding: 20px 80px;
	text-align: left;
	color: rgb(65, 63, 63);
	border-color: #FA5858;
	border-style: solid;
	border-width: 10px;
	border-radius: 18px;
}
